body{
    margin: 0%;
    padding: 0%;
    
}
header{
    position:absolute;
    top: 0%;
    height: 90px;
    width: 100%;
    background-color: rgb(243, 233, 215);

}

#mail img{
    position: absolute;
    padding: 20px;
    left: 20px;
    width: 15px;
}
#mail p{
    position: absolute;
    left: 70px
}

#add img{
    position: absolute;
    padding: 13px;
    left: 210px;
    width: 20px;
}
#add p{
    position: absolute;
    left: 260px
}
header h3{
    position: absolute;
    color: black;
    left: 50px;
    top: 40px;
}

header nav{
    float: right;
	padding-right: 35px;
	padding: 0px 30px 50px 90px; 
	font-weight: bold;
	margin-top: 30px;
}
header a{
	text-decoration: none;
	color: black;
}
header li{
    display: inline-block;
    padding: 10px;
    font-size: 13px;
}
.icon img{
    width: 30px;
    top: -20px;
    position: relative;
    left: 1080px;
}
img li{
    padding: 10px;
}

#pp{
    position: absolute;
    height: 350px;
    width: 300px;
    top: 150px;
    left: 100px;
}
#pp1{
    position: absolute;
    /* height: 50px; */
    width: 80px;
    top: 450px;
    border-radius: 100%;
    left: 70px;
}
