body{
    margin: 0%;
    padding: 0%;
    
}
header{
    position:absolute;
    top: 0%;
    height: 90px;
    width: 100%;
    background-color: rgb(243, 233, 215);

}

#mail img{
    position: absolute;
    padding: 20px;
    left: 20px;
    width: 15px;
}
#mail p{
    position: absolute;
    left: 70px
}

#add img{
    position: absolute;
    padding: 13px;
    left: 210px;
    width: 20px;
}
#add p{
    position: absolute;
    left: 260px
}
header h3{
    position: absolute;
    color: black;
    left: 50px;
    top: 40px;
}

header nav{
    float: right;
	padding-right: 35px;
	padding: 0px 30px 50px 90px; 
	font-weight: bold;
	margin-top: 30px;
}
header a{
	text-decoration: none;
	color: black;
}
header li{
    display: inline-block;
    padding: 10px;
    font-size: 13px;
}

.icon img{
    width: 30px;
    top: -20px;
    position: relative;
    left: 1080px;
}
img li{
    padding: 10px;
}

#pp{
    position: absolute;
    height: 350px;
    width: 300px;
    top: 150px;
    left: 100px;
}
#pp1{
    position: absolute;
    /* height: 50px; */
    width: 80px;
    top: 450px;
    border-radius: 100%;
    left: 70px;
}
.wrt{
    top: 130px;
    position: absolute;
    width: 300px;
    left: 450px;
    text-align: left;

}
.wrt h5{
    color: red;
}
.wrt h6{
    color: red;
}

.wrt h2{
    font-family: ubuntu;
}
.whh{
    background-color: wheat;
    height: 360px;
    width: 280px;
    top: 150px;
    position: absolute;
    left: 850px;
}

#m2 img{
    top: 10px;
    position: absolute;
    left: 10px;
}
#m2 h1{
    position: absolute;
    top: -10px;
    left: 100px;
}
#m2 p{
    position: absolute;
    top: 25px;
    left: 100px;
}


#con img{
    top: 100px;
    position: absolute;
    left: 10px;
}
#con h1{
    position: absolute;
    top: 80px;
    left: 100px;
}
#con p{
    position: absolute;
    top: 110px;
    left: 100px;
}
    #pay img{
        top: 190px;
        position: absolute;
        left: 10px;
    }
    #pay h1{
        position: absolute;
        top: 170px;
        left: 100px;
    }
    #pay p{
        position: absolute;
        top: 200px;
        left: 100px;
    }

    #saf img{
        top: 290px;
        position: absolute;
        left: 10px;
    }
    #saf h1{
        position: absolute;
        top: 270px;
        left: 100px;
    }
    #saf p{
        position: absolute;
        top: 300px;
        left: 100px;
    }


    .pics img{
        position: absolute;
        top: 100%;
        width: 100%;
        left: 0;
        height: 90%;
    }
    .pics span{
        position: absolute;
        background-color: rgba( 0,0,0,0.7);
        top: 100%;
        width: 100%;
        left: 0;
        height: 90%;
    }
    .pics p{
        position: absolute;
        top: 110%;
        color: red;
        font-size: 18px;
        left: 620px;
    }
    .pics h2{
        position: absolute;
        top: 120%;
        color: white;
        font-size: 35px;
        left: 530px;
    }
    
    
video {
    position: absolute;
    border-radius: 20px;
    top: 150%;
    width: 70%;
    left: 200px;
    height: 70%;
    margin:5rem 0;
  }

#bul{
    position: absolute;
    top: 255%;
    width: 230px;
    height: 100px;
    left: 130px;
    border-radius: 15px;
    background-color: hsla(24, 100%, 50%, 0.506);
}
#bul span{
    position: absolute;
    bottom: 80%;
    width: 40px;
    height: 40px;
    left: 200px;
    border-radius: 20px;
    background-color: orangered;
}
#bul h2{
    position: absolute;
    left: 10px;
    bottom: -30px;
    font-size: 60px;
    color: orangered;
}
#bul p{
    position: absolute;
    left: 90px;
    font-size: 20px;
    
}



#yea{
    position: absolute;
    top: 255%;
    width: 230px;
    height: 100px;
    left: 550px;
    border-radius: 15px;
    background-color: hsla(24, 100%, 50%, 0.506);
}
#yea span{
    position: absolute;
    bottom: 80%;
    width: 40px;
    height: 40px;
    left: 200px;
    border-radius: 20px;
    background-color: orangered;
}
#yea h2{
    position: absolute;
    left: 10px;
    bottom: -30px;
    font-size: 60px;
    color: orangered;
}
#yea p{
    position: absolute;
    left: 90px;
    font-size: 20px;
}

#aww{
    position: absolute;
    top: 255%;
    width: 230px;
    height: 100px;
    left: 1000px;
    border-radius: 15px;
    background-color: hsla(24, 100%, 50%, 0.506);

}
#aww span{
    position: absolute;
    bottom: 80%;
    width: 40px;
    height: 40px;
    left: 200px;
    border-radius: 20px;
    background-color: orangered;
}
#aww h2{
    position: absolute;
    left: 10px;
    bottom: -30px;
    font-size: 60px;
    color: orangered;
}
#aww p{
    position: absolute;
    left: 90px;
    font-size: 20px;
}


.sil{
    position: absolute;
    top: 300%;
    width: 100%;
    height: 120%;
    background-color: silver;
}
.sil h5{
    position: absolute;
    color: red;
    left: 70px;
    top: 60px;
}
.sil h1{
    position: absolute;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
    left: 70px;
    top: 100px;
}

.nav{
    left: 800px;
    position: absolute;
    top: 80px;
}
.nav a{
    text-decoration: none;
}
.nav li{
    top: 1px;
    padding: 20px;
    font-size: 50px;
    width: 100px;
	display: inline-block;
}
#tac{
    border: 7px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    font-size: 20px;
    width:120px;
    height:35px;
}
#beer{
    border: 7px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    font-size: 20px;
    width:120px;
    height:35px;
}
#wine{
    border: 7px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    font-size: 20px;
    width:120px;
    height:35px;
}


.hww{
    background-color: white;
    border-radius: 20px;
    height: 360px;
    width: 280px;
    top: 250px;
    position: absolute;
    left: 80px;
}

#tot p{
    top: 15px;
    font-size: 18px;
    position: absolute;
    left: 10px;
}
#tot h2{
    position: absolute;
    top: 10px;
    left: 180px;
}


#flo p{
    top: 85px;
    font-size: 18px;
    position: absolute;
    left: 10px;
}
#flo h2{
    position: absolute;
    top: 80px;
    left: 205px;
}


    #num p{
        top: 155px;
        font-size: 18px;
        position: absolute;
        left: 10px;
    }
    #num h2{
        position: absolute;
        top: 150px;
        left: 235px;
    }
   

    #par p{
        top: 225px;
        position: absolute;
        font-size: 18px;
        left: 10px;
    }
    #par h2{
        position: absolute;
        top: 220px;
        left: 215px;
    }

    #ban p{
        top: 300px;
        position: absolute;
        font-size: 18px;

        left: 10px;
    }
    #ban h2{
        position: absolute;
        top: 290px;
        left: 200px;
    }
   
    #hee{
        position: absolute;
        left:430px;
        top: 250px;
        height: 400px;
        width: 500px;
    }

    #tee{
        top: 240px;
        position: absolute;
        width: 300px;
        left: 1000px;
        text-align: left;
   
    }
    #tee p{
        top: 25px;
        position: absolute;
    }

    #tee h5{
        top: -10px;
        text-align: left;
        position: absolute;
        color: red;
    }
    
    #tee h2{
        font-family: ubuntu;
    }
    

